.add-doctor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.add-doctor-container h1 {
    font-size: 1.5rem;
    margin: 1rem;
    position: absolute;
    text-align: center;
    top: 10px;
}

.form-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container form input,textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 96%;
    border-radius: 14px;
    border: 3px solid #ccc;
}

.form-container form button {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    border-radius: 14px;
    background-color: #5fc50c;
    cursor: pointer;
    border: 3px solid #ccc;
    color: white;
}

.form-container form button:hover {
    background-color: #479607;

}
.icon {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 250px;
    width: 400;
    padding: 0;    
}

@media only screen and (max-width: 600px) {
    .icon {
        display: none;
    }
  }

