* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
}

.dimg-desktop {
  display: none;
}

.dwrap {
  font-size: 1rem;
  padding: 20px;
  margin-top: 20px;
}

.dimg-mobile {
  margin: 20px;
}

.container ul li {
  margin-left: 20px;
  margin-right: 20px;
  list-style-type:none;
  padding: 10px;
  font-weight: 540;
}

.container ul li:nth-child(odd) {
  background-color: rgb(211, 211, 211);
}

.rbtn {
  margin: 20px;
  background-color: #70BE0D;
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  outline: none;
  border: none;
}

.re-btn {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}


/* for desktop */

@media only screen and (min-width: 768px) {
  .dimg-mobile {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
  }

  .dimg-desktop {
    display: block;
    margin: 20px;
    height: 80%;
    width: 40%;
  }

  .dwrap {
    font-size: 1.5rem;
    text-align: right;
    margin-top: 60px;
  }

  .container ul li {
    font-size: 1.3rem;
    padding: 17px;
  }

  .dinfo {
    width: 25%;
  }

  .rbtn {
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    margin-left: 12rem;
  }
  
  .re-btn {
    font-size: 1.4rem;
  }
}