body {
  padding: 0;
}

.reservation-page {
  width: 100%;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.reservation-info {
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.photo {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}