.reservation-page {
  width: 90%;
  padding: 1rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reserve-title {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  text-align: center;
  margin-bottom: 4rem;

}

.reservation-info {
  flex-direction: column;
  width: 250px;
  height: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.photo {
  width: 220px;
  margin-bottom: 1rem;
  height: 150px;
  border: none;
  border-radius: 15px;
  object-fit: cover;
}

.reserve-details {
  width: 100%;
}

@media (max-width: 600px) {
  .reservation-list {
    grid-template-columns: 1fr;
  }
}
