
.reservation-page {
  width: 100%;
  justify-content: flex-start;
  padding: 1rem;
  gap: 2rem;
}

.reserve-title {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.reservation-info {
  flex-direction: column;
  width: 250px;
  height: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.photo {
  width: 220px;
  margin-bottom: 1rem;
  height: 150px;
  border: none;
  border-radius: 15px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .reservation-page {
    display: grid;
    grid-template-columns: 1fr;
  }
}
