* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.home-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.home-page .doctor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin: 0 0.5rem;
}

.doctor-info .photo {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(14, 10, 10);
  border-radius: 50%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 5rem;
  width: 8rem;
  height: 8rem;
  border: 0.8rem solid aqua;
  border-radius: 50%;
  border-right-color: rgb(27, 194, 12);
  animation: load 1s ease-in-out infinite;
}

.delete-doctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.deldoc-info {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.deldoc-info:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Updated values */
  transition: box-shadow 0.5s ease;
}

.deldoc-info .photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.deldoc-name {
  margin: 0;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.flex {
  display: flex;
}

#root {
  display: flex;
  gap: 1rem;
}

@keyframes load {
  0% {
    border-right-color: rgb(27, 194, 12);
  }

  50% {
    border-right-color: rgb(197, 90, 23);
  }

  100% {
    transform: rotate(360deg);
    border-right-color: rgb(221, 214, 18);
  }
}

@media (max-width: 600px) {
  .home-page {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
  }
}